<div class=" row">
	<div class="span9 offset1">
		<h5>Test Classes</h5>
		<br/>
		<div class="control-group">
		      <div class="controls">
		        <button id="runclasstop" type="button" class="btn btn-primary" >Start The Race</button>
		      </div>
		</div>
		<table id="tableau" class="table table-striped table-bordered">
		  <tr>
		    <th><input id="selectall" type="checkbox" /></th>
		    <th>Class Name</th>  
		  </tr>

		<% @testClasses.each do |testClass| %>
		  <tr>
		    <td><input class="select" type="checkbox" value="<% testClass.isSelected %>"/></td>
		    <td><%= testClass.className %></td>
		   </tr>
		<% end %>

		</table>
		<div class="control-group">
		      <div class="controls">
		        <button id="runclassbottom" type="button" class="btn btn-primary" >Start The Race</button>
		      </div>
		</div>
	</div>
</div>
