<div class="row" style="float:right;">
  <div id="form" class="span9 offset4">
	<%= render 'form' %>
	
  </div>
  <div id="loader" class="span9 offset7" style="display:none;">
	<img src="/assets/ajax_loader_gray_512.gif" >
  </div>
</div>
